
section{
    border-radius: 5px;
    border: none;
}

section.calculator{
    display: grid;
    gap: 1rem;
    grid-template-columns: 100px 50px;
    grid-template-rows: 50px 100px;
    grid-template-areas: 
         'first-row first-row first-row first-row'
         'second-row-sum second-row-res second-row-mul second-row-div';
}

#first-row{
    grid-area: first-row;
    background-color: black;
    color: white;
    border-radius: 5px;
    display: grid;
    justify-content: right;
}

#second-row-sum{
    grid-area: second-row-sum;
    display: grid;
    justify-content: right;
}

#second-row-res{
    grid-area: second-row-res;
    display: grid;
    justify-content: right;
}

#second-row-mul{
    grid-area: second-row-mul;
    display: grid;
    justify-content: right;
}

#second-row-div{
    grid-area: second-row-div;
    display: grid;
    justify-content: right;
}
