
section{
    border-radius: 5%;
    border: none;
}

section.calculator{
    display: grid;
    grid-template-columns: 100px 50px;
    grid-template-rows: 50px 100px;
    grid-template-areas: 
         'first-row first-row first-row first-row'
         'second-row-sum second-row-res second-row-mul second-row-div';
}

#first-row{
    grid-area: first-row;
}

#second-row-sum{
    grid-area: second-row-sum;
}

#second-row-res{
    grid-area: second-row-res;
}

#second-row-mul{
    grid-area: second-row-mul;
}

#second-row-div{
    grid-area: second-row-div;
}
