:root{
    --black: #011212;
    --orange: #ff8800;
    --border-radius: 50px;
    --ball_width: 100px;
    --ball_height: 100px;
}


body {
    background-color: var(--black);
}

.ball {
    width: var(--ball_width);
    height: var(--ball_height);
    background-color: var(--orange);
    border-radius: var(--border-radius);
}
