body {
  margin: 0;
  padding: 0;
}

.grid{
  display: grid;
  gap: 0.5 rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: 
      'green green green'
      'yellow red blue'
      'yellow red blue'
      'orange orange blue';
}

section {
  padding: 2em;
  margin: 1em;
}

#green {
  margin: 0;
  background-color: #8ffda7;
  grid-area: green;
}

#orange {
  margin: 0;
  background-color: #ffc788;
  grid-area: orange;
}

#yellow {
  margin-left: 0;
  background-color: #ffff92;
  grid-area: yellow;
}

#red {
  background-color: #ff919c;
  grid-area: red;
}

#blue {
  margin-right: 0;
  margin-bottom: 0;
  background-color: #98d2ff;
  grid-area: blue;
}

ul {
  padding: 0;

}

li {
  background-color: white;
  padding: 1em;
  display: block;
  margin: 1em;
}
